<th style="width:20px;">
  {{@index}}
</th>
<th>
  {{this.ubezpieczony}}
</th>
<th>
  {{this.benzyna}}
</th>
<th>
  {{this.uszkodzony}}
</th>
<th>
  {{this.naped4x4}}
</th>
<th>
  <button
    type="submit"
    name="idd"
    value="{{_id}}"
    formaction="/delete"
  >USUŃ</button>
</th>
<th>
</th>